<div class="container">

    <div class="row">
        <div class="col-sm-6 mt-3">
            <img src="/images/ingredients.jpg" alt="">
        <cite>
            <p>Source: https://unsplash.com/photos/B_bx1oKI5kg</p>
        </cite>
        </div>

        <div class="col-sm-6 mt-3">
            <h1>Get to know us!</h1>
            <h3>About Us:</h3>  
      
           <p>We are a Culinary Cooking School that helps students reach their potential in the arts of cheffing.</p>
           <p>Our programs allow students to compete with the likes of Gordon Ramsey.</p>
           <p>Our extremely competitive school is looking for dedicated non IT major students to learn from some of the best chefs in the country.</p>
    
            <a href="/contact">Contact Us</a> to learn more!
        </div>
    </div>
</div>