<div class="container">

    <div class="row">
        <div class="col-sm-6 mt-3">
            <img src="images/confetti.jpg">
            <cite>
                <p>Source: https://unsplash.com/photos/H67AHfpKhZk</p>
            </cite>
        </div>

        <div class="col-sm-6 mt-3">
            <h1>Learn to cook our 3 favorites</h1>
        <h3>Our Recipes:</h3>

        <ul>
            <ol><h4>Oreo Truffles</h4></ol>
                <li><p>Ingredients: 1 package of Oreos, 1 package of Philadelphia Cream Cheese, 2 packages Baker's Semi-Sweet Baking Chocolate.</p></li>
                <li><p>Step 1: Crush 9 cookies in a food processor, then set aside. Crush the remaining cookies, place it in a bowl. Add cream cheese and mix well. Roll mixture into balls.</p>
                <li><p>Step 2: Dip balls in melted chocolate, place them on a wax paper covered sheet. Sprinkle crumbs on the truffles.</p></li>
                <li><p>Step 3: Refrigerate for about an hour.</p></ol></li>
            <ol><h4>Chocolate Chip Cookies</h4></ol>
                <li><p>Ingredients: 1 cup of butter, 1 cup of white sugar, 1 cup packed brown sugar, 2 eggs, 2 teaspoons vanilla extract, 1 teaspoon baking soda, 2 teaspoons hot water, half teaspoon salt, 3 cups of all-purpose flour, 2 cups semi-sweet chocolate chips, and 1 cup chopped walnuts.</p>
                <li><p>Step 1: Preheat oven to 350 degrees F.</p></li>
                <li><p>Step 2: Cream together the butter and sugars until smooth. Add eggs one at a time, then stir in the vanilla. Dissolve baking soda in hot water, add to batter with salt. Stir flour, chocolate chips, and nuts. Roll cookies on to ungreased pans.</p></li>
                <li><p>Step 3: Back for 10 minutes.</p></li>
            <ol><h4>Brownies</h4></ol>
                <li><p>Ingredients: 1 cup butter, 2 cups white sugar, half cup of cocoa powder, 1 teaspoon vanilla extract, 4 eggs, 1 and a half cups all-purpose flour, half teaspoon baking powder, half teaspoon salt, and half cup walnut halves.</p>
                <li><p>Step 1: Preheat oven to 350 degrees F.</p></li>
                <li><p>Step 2: In a bowl, add and mix melted butter, sugar, cocoa powder, vanilla, eggs, flour, baking powder, and salt. Spread batter in pan, decorate walnut halves.</p></li>
                <li><p>Step 3: Bake for 20-30 minutes. Allow time for cooling.</p></li>
        </ul>

        </div>
    </div>
</div>  